# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/Lista2/Z1/gaussZ1/dist/
/Lista2/Z1/gaussZ1/build/
/Lista2/Z1/GaussGenerator/nbproject/private/
/Lista2/Z1/GaussGenerator/build/
*.bmp
/Lista 4/CRC_Project/build/
/Lista 4/CRC_Project/dist/
/Lista 4/crc/build/
/Lista 4/crc/dist/
/Lista2/Z1/Jacek/dist/
/Lista2/Z1/Jacek/build/